* {
    font-family: Huy;
}

a {
    border: none;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* header */

header {
    display: flex;
    padding: 27px 0;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.header-logo {
    width: 130px;
    height: 35px;
}

.header-nav {
    display: flex;
    gap: 45px;
}

.nav-link {
    color: rgb(119, 119, 119);
    font-size: 14px;
    line-height: 24px;
    cursor: alias;

}

.nav-link:hover {
    color: black;
    font-weight: bold;
}

.nav-line {
    border-bottom: 0.5px solid black;
    height: 1px;
    width: 20px;
    display: none;

}

.nav-link:hover .nav-line {
    display: block;
}

/* HERO */

.hero {
    padding: 115px 0;

    background-image: url(../img/about-hero-background.jpg);

}

.hero-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 45px;
}

.hero-title {
    font-size: 48px;
    line-height: 52px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

.hero-text {
    color: black;
    font-size: 14px;
    text-transform: uppercase;
}

/* SKILL */

.skill {
    padding: 70px 0 100px;
}

.skill-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 1140px;
    margin: 0 auto;
}

.skill-left {
    width: 50%;
}

.skill-right {
    width: 50%;
}

.skill-title {
    text-transform: uppercase;
    font-size: 18px;
    color: black;
    margin-bottom: 45px;
}

.skill-text {
    color: rgb(119, 119, 119);
    font-size: 13px;
    margin-bottom: 45px;
    line-height: 25px;
}

.skills {
    width: 100%;
}

.skill-bar-text {
    color: black;
    font-size: 16px;
    margin: 20px 0;
}

.skill-bar {
    height: 10px;
    background: rgb(235, 235, 235);
}

.skill-persontage {
    height: 6px;
    background: transparent;
    border-bottom: 2px solid rgb(161, 161, 161);
    position: relative;
}

.skill-persontage::before {
    content: attr(a);
    position: absolute;
    background: rgb(4, 22, 8);
    padding: 6px 8px;
    font-size: 12px;
    color: white;
    right: 0;
    top: -34px;
    transform: translateX(50%);
}

.skill-persontage::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background: rgb(4, 22, 8);
    left: 0;
    top: -12px;
    transform:  rotate(45deg);
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
    background: rgb(250, 250, 250);
}

.team-title {
    color: black;
    font-size: 30px;
    text-transform: uppercase;
}

.team-text {
    font-size: 14px;
}