* {
    font-family: Huy;
  }
  
  a {
    border: none;
    text-decoration: none;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* header */
  
  header {
    display: flex;
    padding: 27px 0;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
  }
  
  .header-logo {
    width: 130px;
    height: 35px;
  }
  
  .header-nav {
    display: flex;
    gap: 45px;
  }
  
  .nav-link {
    color: rgb(119, 119, 119);
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
  }
  
  .nav-link:hover {
    color: black;
    font-weight: bold;
  }
  
  
  .nav-serch-btn {
    width: 14px;
    height: 14px;
    background-image: url("../img/serch.svg");
    border: none;
    background-size: cover;
    background-color: transparent;
  }
  
  /* HERO */
  
  .hero {
    padding: 115px 0;
  
    background-image: url(../img/blog-hero.jpg);
  
  }
  
  .hero-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 45px;
  }
  
  .hero-title {
    font-size: 48px;
    line-height: 52px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 0 30px;
  }
  
  .hero-text {
    color: black;
    font-size: 14px;
    text-transform: uppercase;
  }

  /* BLOG */
.blog {
    padding: 70px 0 80px;
    background: linear-gradient(rgb(250, 250, 250), rgb(248, 248, 248));
  }

.blog-container{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.blog-title{
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
}

.blog-connect{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.conect-info{
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.blog-img{
    max-width: 945px;
    margin-bottom: 30px;
}

.blog-text{
    font-size: 14px;
    color: rgb(119, 119, 119);
    max-width: 800px;
    margin-bottom: 30px;
    line-height: 20px;
}

.blog-main-idea{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    font-style: italic;
    border: 1px solid rgb(156, 156, 156);
    border-left: 3px solid rgb(119, 119, 119);
    color: rgb(119, 119, 119);
    max-width: 945px;
    padding: 25px 40px;
}

.blog-head{
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(51, 51, 51);
    max-width: 800px;
    width: 100%;
    align-items:start;
}

.blog-text:last-child{
    margin-bottom: 125px;
}

.blog-commit{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 810px;
    width: 100%;
  }
  
  .blog-contact{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px 90px;
  gap: 30px 22px;
  }
  
  .contact-info{
    color: rgb(186, 186, 186);
    font-size: 14px;
    font-style: italic;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 1px;
    cursor: pointer;
    background: linear-gradient(rgb(250, 250, 250), rgb(248, 248, 248));
  }

  .contact-info:first-child{
    border-left: 3px solid rgb(200, 200, 200);
  }
  
  .contact-info::placeholder{
    transform: translateX(10px);
  }
  
  .contact-massage{
    grid-column-start: span 3;
    color: rgb(186, 186, 186);
    font-size: 14px;
    font-style: italic;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 1px;
    cursor: pointer;
    background: linear-gradient(rgb(250, 250, 250), rgb(248, 248, 248));
  }
  
   .contact-massage::placeholder{
    transform: translateY(-30px) translateX(10px);
  } 
  
  .contact-btn{
    margin: 0 auto;
    height: 40px;
    width: 218px;
    background-color: #000;
    color: rgb(235, 235, 235);
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    border-radius: 2px;
  }
  
  .contact-btn:active{
    background-color: rgba(0, 0, 0, .8);
    color: rgb(119, 119, 119);
  }
  
  /* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 0 47px;
    gap: 25px;
  }
  
  .footer-logo {
    width: 130px;
    height: 35px;
  }
  
  .footer-list {
    display: flex;
    gap: 50px;
  }
  
  .footer-link {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/footer-link.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  
  .footer-text {
    font-size: 13px;
    color: rgb(156, 156, 156);
    text-transform: uppercase;
  }
  
  .footer-text-bord {
    color: #000;
  }