* {
    font-family: Huy;
}

a {
    border: none;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* header */

header {
    display: flex;
    padding: 27px 0;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.header-logo {
    width: 130px;
    height: 35px;
}

.header-nav {
    display: flex;
    gap: 45px;
}

.nav-link {
    color: rgb(119, 119, 119);
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}

.nav-link:hover {
    color: black;
    font-weight: bold;
}



.nav-serch-btn {
    width: 14px;
    height: 14px;
    background-image: url("../img/serch.svg");
    border: none;
    background-size: cover;
    background-color: transparent;
}

/* HERO */

.hero {
    padding: 115px 0;

    background-image: url(../img/portfolio-hero.jpg);

}

.hero-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 45px;
}

.hero-title {
    font-size: 48px;
    line-height: 52px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 0 30px;
}

.hero-text {
    color: black;
    font-size: 14px;
    text-transform: uppercase;
}

/* control */
.control-panel {
    padding: 25px 0;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.panel-left {
    display: flex;
    align-content: center;
    gap: 90px;
}

.panel {
    color: rgb(7, 31, 8);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.panel-span {
    padding: 0 20px;
    font-size: 16px;
}

.panel-rigt {
    display: flex;

}

.burger {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.panel-show::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 15px;
    left: 0;
    background-color: #fff;
    transform: translateX(2px);
}

.burger-line {
    border: 1px solid rgb(7, 31, 8);
    width: 14px;
}

.panel-show {
    color: rgb(7, 31, 8);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

/* EXAMPLE */
.example {
    padding: 70px 0;
    background: linear-gradient(rgb(250, 250, 250), rgb(248, 248, 248));
}

.example-container {
    max-width: 1140px;
    margin: 0 auto;
}

.example-box {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 140px;
}

.example-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 590px;
}

.example-title {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
}

.exaple-profession {
    color: rgb(85, 85, 85);
    font-size: 16px;
}

.example-line {
    width: 550px;
    border: 0.5px solid rgb(204, 204, 204);
    margin: 20px 0;
}

.example-conect {
    display: flex;
    gap: 65px;
}

.conect-link {
    font-size: 14px;
    color: rgb(85, 85, 85);
}

.exaple-text {
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.role-title {
    font-size: 16px;
    color: rgb(51, 51, 51);
}

.role-text {
    font-size: 16px;
    color: rgb(153, 153, 153);
    margin-bottom: 20px;
}

.example-conect {
    display: flex;
    gap: 12px;

}

.conect-btn {
    width: 87px;
    height: 42px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: rgb(248, 248, 248);
    background-color: rgb(112, 112, 112);
    border: none;
}

.conect-btn:active {
    background-color: rgb(51, 51, 51);
    color: #fff;
}

.connect-links {
    display: flex;
    padding: 14px 20px;
    gap: 20px;
    background-color: rgb(225, 225, 225);
    position: relative;
}

.connect-links::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 0;
    background-color: rgb(225, 225, 225);
    transform: translateX(-5px) rotate(45deg);
}

.link {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("../img/footer-link.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.gallery{
    max-width: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.gallery-previews{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    max-width: 551px;
}

.gallery-selected{
    width: 550px;
    height: 350px;
}

.gallery-preview-item{
    width: 131px;
    height: 115px;
    cursor: pointer;
}

.gallery-preview-item-select{
    filter: brightness(0.7);
    width: 131px;
    height: 115px;
}

/* related works */

.works{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.works-title{
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
}

.works-text{
    font-size: 14px;
    color: rgb(119, 119, 119);
    line-height: 30px;
    margin-bottom: 18px;
}

.works-examples{
    display: flex;
    justify-content: space-between;
    gap: 34px;
}





/* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 0 47px;
    gap: 25px;
}

.footer-logo {
    width: 130px;
    height: 35px;
}

.footer-list {
    display: flex;
    gap: 50px;
}

.footer-link {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/footer-link.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.footer-text {
    font-size: 13px;
    color: rgb(156, 156, 156);
    text-transform: uppercase;
}

.footer-text-bord {
    color: #000;
}